.c-progress-tracker {
    $this: &;

    --progress-percent: 0%;

    @apply fixed right-0 bottom-0 left-0 h-3 flex items-center bg-amber-50 transition-all duration-[0.2s];

    &--hidden {
        @apply -bottom-10;
    }

    &--expanded:not(#{$this}--hidden) {
        @apply h-12 lg:h-10 shadow-lg;
    }

    &::before {
        @apply block absolute -left-full h-full w-full bg-amber-900 z-0;

        content: '';
        transform: translateX(var(--progress-percent));
        transition: 0.3s ease all;
    }
}
