.background,
.fpsCounter,
.starfieldCanvas {
    position: fixed;
}

.background,
.starfieldCanvas {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.background {
    background: #000;
}

.fpsCounter {
    color: rgb(103, 246, 103);
    top: 16px;
    left: 16px;
    z-index: 9999;
}

.starfieldCanvas {
    animation-name: fade-in;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
